body {
    background-color: #A9A9A9;
    font-family: Verdana;
    max-width: 1000px;
    margin: auto;
}

.photo {
    border: 3px solid #363636;
    border-radius: 50px;
}

#title, .subtitle, .post_title {
    color: #000;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #363636;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;

}

.post_img {
    border: 3px solid #00BFFF;
    border-radius: 20px;
    margin-bottom: 15px;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
    font-weight: bold;
}